.footer {
	margin-top: 10rem;
	&__nav {
		.wrapper {
			display: flex;
			justify-content: space-between;
			align-items: center;
			height: 100%;

			.facebook-icon-box {
				display: flex;
				align-items: center;
				height: 100%;
			}
		}
		padding-inline: 2rem;
		height: 82px;
		background-color: #063737;

		&-icon {
			width: 37.66px;
			height: 37.56px;
		}

		&-link {
			color: #fff;
			font-size: 1.8rem;

			&.hide {
				display: none;
			}
		}
	}

	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-block: 6rem;
		background-color: #0a3333;
		font-size: 1.6rem;
	} 

	&__body-container {
		&.wrapper {
			max-width: fit-content;
		}
	}

	&__left-box {
		display: flex;
		flex-direction: column;
		&-icon {
			margin-bottom: 1.1rem;
			width: 24.43px;
			height: 28.5px;
		}

		&-text {
			max-width: 193px;
			color: #e0e0e0;
			line-height: 36px;
		}
	}

	&__right-box {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		margin-top: 5rem;

		&-link {
			margin-bottom: 1.6rem;
			color: #fff;

			&:last-of-type {
				margin-bottom: 0;
			}

			&-phone-icon {
				margin-right: 0.8rem;
				width: 15.1px;
				height: 15.1px;
			}

			&-gmail-icon {
				margin-right: 0.8rem;
				width: 14.92px;
				height: 12.5px;
			}
		}
	}

	&__copyright {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 82px;
		background-color: #0a3333;
		color: #e0e0e0;
		border-top: 1px solid #063737;
	}
}
