.header {
	margin-top: 73px;
	&__hero-img {
		position: relative;
		background-image: url('../../dist/img/4345m.jpg');
		background-size: cover;
		background-position: 50% 40%;
		height: 235px;

		&-shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 128, 128, 0.19);
		}
	}

	&__box {
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 3rem;
		padding-inline: 2rem;
		text-align: center;
		&-headline {
			font-size: 2.4rem;
			line-height: 41px;
		}

		&-text {
			text-align: center;
			margin: 0.8rem 0 5.5rem;
			max-width: 317px;
			color: #2f2f2f;
			line-height: 29px;
		}

		&-btn {
			padding: 2rem 4rem;
			font-size: 1.5rem;
			color: #fff;
			background-color: #008080;
		}
	}
}

.main {
	.section-heading {
		margin: 10rem 0 8rem;
		text-align: center;
		font-size: 2.7rem;
	}

	.offer {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:nth-of-type(2) {
				margin-block: 7.5rem;
			}

			&-img {
				width: 56px;
				margin-bottom: 1.8rem;
			}

			&-headline {
				font-size: 2.5rem;
			}

			&-text {
				text-align: center;
				margin-block: 1.8rem;
				color: #2f2f2f;
				line-height: 29px;
				max-width: 234px;
			}

			&-link {
				color: #008080;
				font-weight: bold;
			}
		}
	}

	.stand-out {
		&__box {
			display: flex;
			flex-direction: column;
			align-items: center;

			&:nth-of-type(2) {
				margin-block: 7.5rem;
			}

			&-img {
				width: 56px;
			}

			&-headline {
				padding-block: 1.8rem;
				font-size: 2.5rem;
			}

			&-text {
				text-align: center;
				max-width: 260px;
				line-height: 29px;
			}
		}

		&__info {
			display: flex;
			justify-content: center;
			margin-top: 4rem;
			font-size: 1.6rem;

			&-link {
				color: #008080;
			}
		}
	}

	.audit {
		margin-top: 10rem;
		padding-inline: 2rem;
		background-color: #063737;

		.wrapper {
			display: grid;
			place-items: center;
			text-align: center;
		}

		&__headline {
			margin-top: 3.7rem;
			min-width: 277px;
			color: #fff;
			font-size: 2.7rem;
			font-weight: normal;
			line-height: 45px;
		}

		&__text {
			padding: 0.8rem 0 5.5rem;
			max-width: 250px;
			color: #d9d9d9;
			line-height: 29px;
		}

		&__img {
			width: 100%;
		}

		&__btn {
			margin: 6.5rem 0 5rem;
			padding: 2rem 4rem;
			background-color: #008080;
			color: #fff;
			font-size: 1.5rem;
		}
	}

	.features {
		text-align: center;

		&__container {
			&:nth-of-type(2) {
				margin-block: 7.5rem;
			}
		}

		&__headline {
			font-size: 2.5rem;
		}

		&__text {
			padding: 2.5rem 2rem 5rem;
			line-height: 31px;
		}

		&__img {
			margin-bottom: 5rem;
			width: 100%;
			height: 250px;
			object-fit: cover;
		}

		&__contains {
			margin-bottom: 2.5rem;
			font-size: 2.2rem;
			font-weight: bold;
		}

		&__new-box {
			&:nth-of-type(3) {
				display: none;
			}

			&:nth-of-type(4) {
				display: none;
			}
		}

		&__box {
			display: flex;
			align-items: center;
			justify-content: center;
			padding-bottom: 0.8rem;

			&:last-child {
				padding-bottom: 0;
			}
		}

		&__item {
			color: #2f2f2f;
			line-height: 32px;

			&-dott {
				display: inline-block;
				margin-inline: 1.2rem;
				width: 5px;
				height: 5px;
				background-color: #008080;
				border-radius: 50%;

				&.hide {
					display: none;
				}
			}
		}
	}

	.monitoring {
		text-align: center;
		&__img {
			margin-bottom: 5.5rem;
			width: 100%;
			height: 250px;
			object-fit: cover;
			object-position: 50% 20%;
			transform: scaleX(-1);
		}

		&__box {
			margin-bottom: 5.5rem;
			padding-inline: 1.9rem;

			&:last-child {
				margin-bottom: 0;
			}
			&-headline {
				margin-bottom: 1rem;
				font-size: 2rem;
				line-height: 35px;

				span {
					color: #008080;
				}
			}

			&-text {
				color: #2f2f2f;
				line-height: 29px;
			}
		}
	}

	.reviews {
		.section-heading {
			margin-top: 0;
		}

		margin-top: 10rem;
		padding: 5.4rem 2rem 6rem;
		background-color: #f3f3f3;

		&__container {
			display: flex;
			justify-content: center;
			flex-wrap: wrap;
			gap: 5rem;
		}

		&__box {
			display: flex;
			align-items: center;
			flex-direction: column;
			padding: 4rem 3rem;
			width: 100%;
			background-color: #fff;
			color: #2f2f2f;
			text-align: center;

			&-icon {
				width: 64px;
			}

			&-text {
				margin: 2.5rem 0 3.5rem;
				font-family: 'Playfair Display', serif;
				font-size: 1.6rem;
				line-height: 30px;
			}

			&-name {
				display: flex;
				align-items: center;
				gap: 0.5rem;
				font-size: 1.6rem;
				color: #6e6e6e;

				img {
					width: 12.45px;
				}
			}
		}
	}

	.faq {
		padding-inline: 2rem;
		color: #2f2f2f;

		&__box {
			margin-bottom: 3rem;
			border-bottom: 1px solid #6e6e6e;
			overflow: hidden;
			cursor: pointer;

			&:last-child {
				margin-bottom: 0;
			}
			&-container {
				display: flex;
				justify-content: space-between;
				align-items: center;
				gap: 2rem;
				padding-bottom: 1.6rem;
			}

			&-question {
				font-size: 1.8rem;
				line-height: 33px;
			}

			&-icon {
				width: 28px;
			}
		}

		&__box-text {
			max-height: 0;

			p {
				margin-bottom: 2rem;
				line-height: 25px;

				span {
					color: #008080;
				}
			}

			&.show {
				max-height: fit-content;
			}
		}
	}
}
