@media (width >= 1440px) {
	html {
		scroll-padding-top: 16rem;
	}

	.nav {
		padding: 0 12rem 0 11.4rem;
	}

	.header {
		display: flex;

		&.wrapper {
			max-width: 1200px;
		}

		&__hero-img {
			position: absolute;
			right: 0;
			top: 85px;
			width: 45vw;
			height: 726px;
			order: 2;
		}

		&__box {
			padding: 0;
			margin: 13rem 0 0 0rem;
			align-items: flex-start;
			text-align: left;

			&-headline {
				font-size: 4.9rem;
				line-height: 68px;
				max-width: 614px;
			}

			&-text {
				margin: 1.5rem 0 7rem;
				font-size: 2.1rem;
				max-width: 547px;
				text-align: left;
			}

			&-btn {
				font-size: 2.1rem;
			}
		}
	}

	.main {
		.section-heading {
			margin: 15rem 0 12rem;
			font-size: 4.2rem;
		}
		.offer {
			.section-heading {
				margin-top: 29.4rem;
			}

			&__container {
				gap: 12.4rem;
			}
		}

		.stand-out {
			&__container {
				gap: 8rem;
			}
		}

		.audit {
			margin-top: 15rem;

			.wrapper {
				place-items: normal;
				grid-template-columns: repeat(2, 1fr);
				grid-template-rows: repeat(5, auto);
				max-width: 1012px;
				text-align: left;
			}

			&__headline {
				grid-column: 1 / 2;
				grid-row: 1 / 2;
			}

			&__text {
				padding: 1.5rem 0 6rem;
				grid-column: 1 / 2;
				grid-row: 2 / 3;
			}

			&__img {
				grid-column: 2 / 3;
				grid-row: 1 / 5;
				justify-self: end;
				align-self: center;
				max-width: 414px;
			}

			&__btn {
				margin: 0 0 6.7rem;
				grid-column: 1 / 2;
				grid-row: 3 / 4;
				width: 273.16px;
			}
		}

		.features {
			&__container {
				text-align: left;

				&:nth-of-type(2) {
					margin-block: 14.4rem;
				}
			}

			&__text {
				font-size: 2.1rem;
				max-width: 507px;
			}

			&__img {
				margin-bottom: 10.5rem;
				width: 507px;
				height: 379px;
			}

			.mini-container {
				display: flex;
				justify-content: space-between;

				div {
					align-items: flex-start;
				}

				&.wrapper {
					max-width: 1094px;
				}
			}

			&__item {
				font-size: 2.1rem;
			}

			&__new-box {
				&:nth-of-type(3) {
					display: none;
				}
				&:nth-of-type(4) {
					display: block;
				}
			}
		}

		.monitoring {
			&__img {
				width: 499px;
				height: 694px;
			}

			&__box {
				&:nth-child(4) {
					.monitoring__box-text {
						max-width: 485px;
					}
				}

				&-text {
					max-width: 460px;
				}
			}
		}

		.reviews {
			margin-top: 15rem;
		}

		.faq {
			&__box {
				&-question {
					font-size: 2.8rem;
				}

				&-icon {
					width: 33px;
				}
			}
		}
	}

	.footer {
		margin-top: 15rem;
		&__body {
			&-container {
				padding-inline: 0rem;
			}
		}
	}

	.subpage {
		.about {
			&__container {
				gap: 6.5rem;
			}

			&__img {
				flex-shrink: 0;
				max-width: 500px;
				height: 585px;
			}

			&__box {
				min-height: 585px;
				justify-content: space-between;
				align-items: flex-start;
				&-text {
					font-size: 2.1rem;
				}
			}

			&__box-contact {
				display: flex;
				flex-direction: column;
				font-size: 2.1rem;
				&-box {
					display: flex;
					align-items: center;
					height: 25px;
					&:nth-child(1) {
						margin-bottom: 0.9rem;
					}

					&-icon {
						margin-right: 1rem;
						filter: invert(1) brightness(0);

						&.phone {
							width: 18.1px;
							height: 18.1px;
						}

						&.mail {
							width: 18.5px;
							height: 15.5px;
						}
					}

					&-link {
						color: #000;
					}
				}
			}
		}

		.certificates {
			&__box {
				max-width: 1116px;
				gap: 4rem;

				&-img {
					width: calc(25% - 30px);
				}
			}
		}

		.our-work {
			&__box {
				grid-template-columns: repeat(4, 1fr);
				grid-template-rows: repeat(4, 213px);

				&-img {
					&--5 {
						grid-column: 4 / 5;
						grid-row: 1 / 2;
					}

					&--6 {
						grid-column: 4 / 5;
						grid-row: 2 / 3;
					}

					&--8 {
						grid-column: 3 / 4;
					}

					&--8 {
						grid-row: 3 / 4;
					}

					&--11 {
						grid-row: 4 / 5;
					}

					&--7 {
						grid-column: 4 / 5;
						grid-row: 3 / 5;
					}
				}
			}
		}
	}
}

@media (width >= 2559px) {
	.header {
		&__hero-img {
			width: 46.3vw;
		}
	}
}

@media (width >= 3839px) {
	.header {
		&__hero-img {
			width: 47.5vw;
		}
	}
}
