@media (width >= 430px) {
	html {
		scroll-padding-top: 13.2rem;
	}

	body {
		font-size: 1.8rem;
	}

	.nav {
		height: 80px;

		&__logo {
			width: 77px;
		}

		&__hamburger {
			width: 37.8px;
			height: 29.4px;
		}

		&__links {
			top: 80px;
			padding-top: 16rem;

			&-link {
				margin-bottom: 7.5rem;
				font-size: 3.2rem;
			}
		}
	}

	.header {
		margin-top: 80px;

		&__hero-img {
			height: 290px;
		}

		&__box {
			&-headline {
				max-width: 384px;
				font-size: 3rem;
				line-height: 50px;
			}

			&-text {
				margin: 1.2rem 0 6rem;
				max-width: 372px;
				line-height: 31px;
			}

			&-btn {
				font-size: 1.8rem;
			}
		}
	}

	.main {
		.section-heading {
			margin: 11rem 0 9rem;
			font-size: 3.2rem;
		}

		.offer {
			&__box {
				&:nth-of-type(2) {
					margin-block: 8rem;
				}

				&-img {
					margin-bottom: 2rem;
					width: 65px;
				}

				&-headline {
					font-size: 2.9rem;
				}

				&-text {
					margin-block: 2rem;
					max-width: 285px;
				}

				&-link {
					font-size: 1.8rem;
				}
			}
		}

		.stand-out {
			&__box {
				&:nth-of-type(2) {
					margin-block: 8rem;
				}

				&-img {
					width: 65px;
				}

				&-headline {
					padding-block: 2rem;
					font-size: 2.9rem;
				}

				&-text {
					max-width: 315px;
					line-height: 30px;
				}
			}

			&__info {
				margin-top: 5rem;
				font-size: 2rem;
			}
		}

		.audit {
			margin-top: 11rem;

			&__headline {
				font-size: 3.5rem;
				line-height: 56px;
			}

			&__text {
				padding: 1.2rem 0 6.5rem;
				max-width: 380px;
			}

			&__img {
				max-width: 353px;
			}

			&__btn {
				margin: 7.5rem 0 6.7rem;
				font-size: 1.8rem;
			}
		}

		.features {
			&__container {
				&:nth-of-type(2) {
					margin-block: 8.5rem;
				}
			}

			&__headline {
				font-size: 2.9rem;
			}

			&__box {
				padding-bottom: 1rem;
			}
		}

		.monitoring {
			&__box {
				&-headline {
					font-size: 2.4rem;
				}

				&-text {
					line-height: 30px;
				}
			}
		}

		.reviews {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 11rem;

			&__box {
				width: 350px;
				&-icon {
					width: 70px;
				}

				&-text {
					font-size: 1.9rem;
				}

				&-name {
					font-size: 1.9rem;
				}
			}
		}

		.faq {
			&__box {
				margin-bottom: 3.3rem;

				&-container {
					gap: 3rem;
				}

				&-question {
					font-size: 2.2rem;
				}
			}
			&__box-text {
				p {
					font-size: 1.7rem;
				}
			}
		}
	}
	.footer {
		margin-top: 11rem;

		&__nav {
			height: 90px;

			&-icon {
				width: 40.66px;
				height: 40.56px;
			}

			&-link {
				font-size: 2.1rem;
			}
		}

		&__body {
			font-size: 2rem;
		}

		&__left-box {
			&-icon {
				margin-bottom: 1.5rem;
			}

			&-text {
				max-width: 242px;
			}
		}

		&__right-box {
			&-link {
				margin-bottom: 1.4rem;
				&-phone-icon {
					margin-right: 0.9rem;
					width: 17.1px;
					height: 17.1px;
				}

				&-gmail-icon {
					margin-right: 0.9rem;
					width: 17.31px;
					height: 14.5px;
				}
			}
		}

		&__copyright {
			height: 91px;
			font-size: 1.9rem;
		}
	}

	.subpage {
		.about {
			margin-top: 19rem;

			&__container {
				display: flex;
				flex-direction: column;
				align-items: center;
			}
			&__img {
				height: 505px;
				max-width: 408px;
				
			}
		}
	}
}
